@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url(fonts/PlusJakartaSans-Bold);
}

h1 {
    font-family: 'Plus Jakarta Sans';
    font-size: 50px;
    font-weight: bold;
}

p {
    margin-top: 30px;
    font-size: 30;
    
}
body {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 4vh;
    width: 100vw;
    align-items: center;
    align-content: center;
    overflow-x: hidden;
    font-family: 'Plus Jakarta Sans';
    font-size: 20px;
}

footer {
    padding: 15px 0;
    text-align: center;
    
}

#container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#container div{
    display: flex;
    align-items: center;
    margin: 20px;
    width: 100%;
    padding: 10px;

}